{% extends "main/pattern.html" %}

{% block title %}
   Upload images
{% endblock %}

{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.errors }}
        </div>
    {% endif %}

    {% if images %}

        <form class='modal' method="get" action="{% url 'main:mode' %}" style="max-width: 100%;">
            <div class="modal-body">
                <h2 class="modal-title">Succesfully uploaded:</h2> 
                {% csrf_token %}
                <div class="grid">
                    {% for image in images %}
                        <h4>{{image.title}}</h4> 
                        <img src="{{ image.image.url}}" alt="connect">
                        <input type="hidden" name="image{{image.id}}" value="{{image.title}}">
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="submit">Go see preds</button>
                </div>
            </div>
        </form>

    {% else %}

        <form class="modal" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="modal-body">
                <h2 class="modal-title">Upload images</h2>
                <label class="input-file">
                    {{ form.image }}
                    <span>Drag file(s) here to upload</span>
                </label>
            </div>
            <div class="modal-footer">
                <button class="btn-primary">Upload</button>
            </div>

        </form>

    {% endif %}
{% endblock %}