<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>
            Tasks
        </title>
        <style type="text/css">
            .wrapper {
                display: grid;
                grid-template-columns: 2fr 1fr 1fr;
                }
            .box1 {
                display: grid;
                }
            .box1 div {
                padding: 10px;
                }
        </style>
    </head>

    <body>
        <div>
            <h3>Задачи</h3>
            <table>
                <style>
                table, th, td {
                    padding: 10px;
                    border: 1px solid black;
                    border-collapse: collapse;
                }
                </style>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>status</th>
                        <th>worker_id</th>
                        <th>mode</th>
                        <th>Created ts</th>
                    </tr>
                </thead>
                <tbody>
                {% for i in tasks %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.status }}</td>
                        <td>{{ i.worker_id }}</td>
                        <td>{{ i.mode }}</td>
                        <td>{{ i.time }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
