{% extends "main/pattern.html" %}

{% block title %}
    Tasks
{% endblock %}

{% block content %}

    <div class="tasks_container">
        <h2>Tasks</h2>
        <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">ID</div>
            <div class="col col-2">Status</div>
            <div class="col col-3">Worker_id</div>
            <div class="col col-4">Mode</div>
            <div class="col col-5">Created at</div>
        </li>
        {% for i in tasks %}
            <li class="table-row">
                <div class="col col-1">{{ i.id }}</div>
                <div class="col col-2">{{ i.status }}</div>
                <div class="col col-3">{{ i.worker_id }}</div>
                <div class="col col-4">{{ i.mode }}</div>
                <div class="col col-5">{{ i.time }}</div>
            </li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}
