/* navigation */

@import url('https://fonts.googleapis.com/css?family=Oswald:500');
nav{
  width: 100%;
  position: fixed;
  top:0px;
  padding: 2rem 1.5rem;
  text-align:center;
  background-color:#d0d1de;
}
nav a{
  font-family: 'Oswald', sans-serif;
  font-weight:500;
  text-transform:uppercase;
  text-decoration:none;
  color:#16151b;
  margin:0 15px;
  font-size:16px;
  letter-spacing:1px;
  position:relative;
  display:inline-block;
}

.underline{
    position:relative;
    text-decoration:none;
  
    &::after{
      content:"";
      position:absolute;
      bottom:0;
      left:0;
      width:0;
      height:.2em;
      background-color:white;
      transition: width .3s ease;
    }
    
    &:hover{
      color:#f17878;
    }
  
    &:hover::after{
      width:100%;
    }
}

/* input form */

.modal {
	width: 90%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20vh;
	margin-bottom: 10vh;
	background-color: #FFF;
	border-radius: .5rem;
	box-shadow: 2px 5px 15px rgba(#000, .2); 
}

body {
	font-family: "Inter", sans-serif;
	color: #0d0f21; 
	background-color:#d0d1de;
	line-height: 1.5;
}

input, button {
	font: inherit;
}

.modal-body {
	padding: 1rem 1.5rem;
}

.modal-title {
	font-weight: 700;
}

.modal-footer {
	padding: 1rem 1.5rem 1.5rem;
	display: flex;
	justify-content: flex-end;
	[class*="btn-"] {
		margin-left: .75rem;
	}
}

.btn-secondary, .btn-primary {
	padding: .5rem 1rem;
	font-weight: 500;
	border: 2px solid #e5e5e5;
	border-radius: .25rem;
	background-color: transparent;
}

.btn-primary {
	color: #FFF;
	background-color: #2e44ff;
	border-color: #2e44ff;
}

.input-file {
	display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
	border: none;
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23ccc' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
	background-color: transparent;
  align-items: center;
  padding: 3rem;
  &:hover, &:focus {
			background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%232e44ff' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
	}
}
.input-file span {
  margin-top: 1rem;
	display: block;
	font-weight: 700;
		color: #0d0f21; 
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }

.grid img {
    max-width: 90%;
    max-height: 90%;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

/* tasks */

.tasks_container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}

.responsive-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 30%;
  }
  .col-3 {
    flex-basis: 20%;
  }
  .col-4 {
    flex-basis: 20%;
  }
  .col-5 {
    flex-basis: 20%;
  }
}